# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Data / Artifacts
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# IDE/OS
.vscode/
.DS_Store
Thumbs.db
*tempCodeRunnerFile.py
